* {
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: #000;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:#f72210;
}
.outer-container,
.outer-container > *{
  max-width: 1320px;
  margin: 0px auto;
}
header {
  background-color: #f72210;
  height: 50px;
  width:100%;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  overflow: visible;
  z-index: 2000;
}
.header-left img {
  width:131px;
  height:20px;
}
.header-left .date {
  margin-left: 10px;
  font: 16px/34px "Roboto Condensed",sans-serif;
  color: #fff;
}
.d-sm-none.d-lg-block .main-logo{
  width:395px;
  height: 60px;
}
.btn.sign {
  font-family: "Roboto Condensed";
  font-weight: bold;
}
.btn.subscribe {
  color: #f72210;
  font-size: 13px;
  font-family: "Roboto Condensed";
}
.btn.subscribe:hover {
  color: #f72210;
}
.navbar {
border-bottom:1px solid #f4f5f6;
}
.navbar .navbar-nav .nav-link{
  color:black;
  font-weight: bold;
  font-size: 21px;
}
.navbar .navbar-nav .navbar-item{
  border-left: 1px solid #d9d9d9;
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbar .navbar-nav .navbar-item.first {
  border: none;
}
.navbar input {
  padding-left: 3px;
  width: 75px;
  height: 47px;
  border: none;
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-search-glass.svg) right no-repeat #fff;
  background-size: 15px 15px;
  color: rgba(0,0,0,.55);
}
.navbar input:focus {
  width:100px;;
  text-align: left;
  outline: none;
}
.main-container{
  width:95%;
  margin: 0px auto;
  position: relative;
  top: 70px;
}
.content-header {
  color: rgba(3,3,3,.4);
  font: bold 16px/16px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
}
.category {
display: block;
font: bold 17px/16px "Roboto Condensed",sans-serif;
color: #f72210;
text-transform: uppercase;
padding: 8px 15px 9px;
background-color: rgba(255,255,255,.9);
position: absolute;
bottom: 0;
left: 0;
z-index: 1;
}
.category a, .content h2 a, .related a{
  color: inherit;
}
.category a:hover, .content h2 a:hover{
  text-decoration: none;
  color: inherit;
}
.related a:hover,
.content .info a:hover {
  text-decoration: none;
  color:#f72210;
}

.related {
  font-size: 19px;
  line-height: 22px;
  font: bold 16px/20px "Roboto Condensed",sans-serif;
  color: #000;
  font-weight: bold;
  margin-top: 16px;
  padding: 0;
}
.related li {
  border-top: 1px solid #d9d9d9;
  padding: 10px 0;
}
.image {
  width:100%;
  height:50%;
}
.image img {
  width:100%;
  height: 100%;
}
.content article.clearfix {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: 1px solid #ddd
}
.More-Stories-Img {
  margin-right: 10px;
  display: block;
  float:left;
}
.col-xs-12.col-md-3 .card.border-0 h4,
.col-xs-12.col-md-3.order-md-3 .card.border-0 h4,
.col-xs-12.col-md-6.col-lg-3 h4,
.col-xs-12.col-md-4 h4,
.content h4,
.info a:first-child{
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color:#000;
}
.summary {
  font-size: 0.9rem;
}
.content h2{
  font-size: 22px;
  line-height: 24px;
  color:#000;
  font-weight: bold;
  margin-top: 10px;
}
.sticky {
  position: sticky;
  top:0;
  z-index: 550;
}
.info {
  width:80%;
  display: inline-block;
  padding-left: 10px;
}
.content .p-0 li {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content .p-0 li:first-child,
.content article.clearfix:first-child {
  border:none;
}
.image.rounded-circle{
  width: 63px;
  height: 100%;
  display: inline-block;
}
.signup-title {
    font: bold 19px/19px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.signup-title.flex-xs.ai-c span {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  margin-right: 10px;
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/logo-n1.svg) center/contain no-repeat #f72210;
}
.signup.p-4.m-auto{
  height: 161px;
  width: 300px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
}
.btn.mt-1 {
  background-color: #666;
  color: #fff;
  font: bold 18px/18px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
}
.signup.p-4.m-auto .Sign-Update {
  color: #333;
  font: bold 15px/15px "Roboto Condensed",sans-serif;
}
.card-body.cardback{
  background-color: #f4f5f6;
  padding: 0.6rem;
}
.card-body.cardback:hover {
  background-color: #dbdcdd;
}
.card-body.cardback h4 a {
  font: bold 18px/18px "Roboto Condensed",sans-serif;
  color: #000;
  text-decoration: none;
}
.card-body.cardback h4 a:hover{
  text-decoration: none;
}
#In-The-Magazine, #In-The-Magazine2, #In-The-Magazine3 {
  width: 224px;
  height: 28px;
  margin:2rem auto;
}
.mag-categ {
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f72210;
    padding: 0.4rem;
}
.cat {
  font: bold 16px/26px "Roboto Condensed",sans-serif;
  color: #f72210;
  background-color: #fff;
}
.slide-img {
  width: 70px;
  height: 52px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 58px;
  text-indent: 5px;
  text-align: center;
  background: url(https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
  color: #e9212e;
}
.clearfix.mt-1.pt-2 {
  border-top: 1px solid #ddd;
}
.row.trio {
  border-bottom: 3px solid #ddd;
}
.items {
    background-color: #f4f5f6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.item1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.item2 {
border-top: 1px solid #d2d2d2;
}
.items img {
  float: left;
  margin-right: 20px;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}
.items h3{
  font-size: 1rem;
  color:#000;
  font-weight: bold;
}
.genericon-checkmark {
    display: inline-block;
    color: #999;
}

.genericon {
    line-height: 20px;
    font-size: 26px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
  }
  .btn.text-light.subscribe {
    background-color: #de1f0e;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
    width:120px;
    display: block;
    clear: both;
  }
  .lastpart {
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
  }
  .page-footer {
    border-top: 2px solid #f4f5f6;
    background-color: #fff;
    padding:30px 15px;
    margin: 0px auto;
  }
  .copyright{
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 12px;
}
.menu li {
  display: inline-block;
  padding-right: 20px;
  margin: 3px 0;
  cursor: pointer;
}
.menu a{
  text-decoration: none;
  color: #666;
  font-size: 14px;
  line-height: 15px;
}
.menu a:hover {
  text-decoration: none;
  color:#000;
}
.footer-links {
  border-top: 1px solid #d9d9d9;
}
@media screen and (max-width: 767px){
  .More-Stories-Img {
    width:258px;
    height:172px;
    margin-right: 10px;
    display: block;
    float:left;
  }
  .last-imgs{
    width:100px;
    height:60px;
  }

}
@media screen and (min-width: 768px) {
  .More-Stories-Img {
    width:135px;
    height:90px;
  }
  .last-imgs{
    width:100px;
    height:60px;
  }
  .col-xs-12.col-md-4 h4{
    font-size: 12px;
  }
  .items h3 {
    font-size: 24px;
    line-height: 24px;

  }
}
@media screen and (max-width: 991px){
.main-container .card.sticky-top{
  outline: none;
}
}
@media screen and (min-width: 992px){
  .main-container {
    top:120px;
  }
  .row.header{
    height: 90px;
  }
  .btn.subscribe,
  .header-right .btn.sign{
    font-size: 17px;
  }
  .navbar.main-nav {
    position: relative;
    top: 100px;
    width:100%;
  }
  .content h4, .info a:first-child {
    font-size: 16px;
    line-height: 18px;
}
.info {
    width: 70%;
}
}
